{% extends 'app/base.html' %}

{% block content %}

{% load static %}

        <div class="page-title lb single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-envelope-open-o bg-orange"></i> Contact us <small class="hidden-xs-down hidden-sm-down"></small></h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'App:HomePage'%}">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Who we are</h4>
                                    <p>We are Journalists and we do everything to find NEWS FOR YOU !</p>
                   
                                    <h4></h4>
                                    <p></p>
             
                                    <h4></h4>
                                    <p></p>
                                </div>
                                <div class="col-lg-7">
                                    <form method="POST" action="{% url 'App:Contact_Us' %}">
                                        <div class="form-wrapper">

                                            {% csrf_token %}

                                            {{ form }}
                                            <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

{% endblock %}